
// bindings
include "bindings/apps.kdl"
include "bindings/noct-calls.kdl"
include "bindings/tiling.kdl"

// general settings
include "cfg/input.kdl"
include "cfg/outputs.kdl"
include "cfg/layout.kdl"
include "cfg/animations.kdl"
include "cfg/window-rules.kdl"
include "cfg/env.kdl"

spawn-at-startup "kanshi"
spawn-at-startup "noctalia"
spawn-at-startup "fcitx5 -d"

prefer-no-csd

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"



include "noctalia.kdl"
