layout {

    focus-ring {
        active-color   "#a9b665"
        inactive-color "#282828"
        urgent-color   "#ea6962"
    }

    border {
        active-color   "#a9b665"
        inactive-color "#282828"
        urgent-color   "#ea6962"
    }

    shadow {
        color "#1b1b1b70"
    }

    tab-indicator {
        active-color   "#a9b665"
        inactive-color "#444c1d"
        urgent-color   "#ea6962"
    }

    insert-hint {
        color "#a9b66580"
    }
}

recent-windows {
    highlight {
        active-color "#a9b665"
        urgent-color "#ea6962"
    }
}
